body{
  text-align: center;
}

p{
  font-size: 20px;
}

header{
  position:relative;
  margin-top: 2px;
  margin-left: 100px;
  margin-right: 100px;
  border-style: solid;
  border-width: thick;
  border-radius: 20px;
  padding-bottom: 20px;
  padding-top: 5px;
}

.container{
  position:relative;
  margin-top: 2px;
  margin-left: 100px;
  margin-right: 100px;
  border-style: solid;
  border-width: thick;
  padding-bottom: 10px;
  padding-top: 5px;
}

h1{
  color: red;
  font-style: italic;
}

h2{
  color: red;
  font-style: normal;
}

ul{
  list-style: disc;
  text-align: center;
}

h3{
  color: blue;
}
