body{
  text-align: center;
}

p{
  font-size: 20px;
}

h1{
  color: red;
  font-style: italic;
}

h2{
  color: red;
  font-style: normal;
}

ul{
  list-style: disc;
  text-align: center;
}

h3{
  color: blue;
}
